<div class="container well">
	<h1>Editing Time Entry</h1>

	<%= simple_form_for(@timeentry, :html => { :class => 'form-inline' }) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
			<div class="row">
			  <div class="col-md-2">
			  	<%= f.label 'Employee ID' %>
			  </div>
			  <div class="col-md-6">
			  	<%= f.input_field :user_id, disabled: true %>
			  </div>
			</div>
			<div class="row">
				<div class="col-md-2">
			  	<%= f.label 'Time In' %>
			  </div>
			  <div class="col-md-6">	
			  	<%= f.input_field :time_in %>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-2">	
			  	<%= f.label 'Time Out' %>
			  </div>
			  <div class="col-md-6">	
			  	<%= f.input_field :time_out %>
			  </div>
			</div>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, "Update" %>
	  </div>
	<% end %>

</div>