!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Golden State Eye
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    / Navbar
    %nav.navbar.navbar-default
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Golden State Eye
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            - if user_signed_in?
              %li
                %a{:href => "/timeentries/new"} Time Clock
              %li
                %a{:href => "/timeentries"} List Time Entries
              - if current_user.patient_record_access
                %li.dropdown{:role => "presentation"}
                  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    Patient Record Functions
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => "/patients"} All Patient Records
                    %li= link_to "Search Patients", search_path
              - if current_user.admin
                %li.dropdown{:role => "presentation"}
                  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    Admin Functions
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => "/payperiods"} Pay Periods
                    %li
                      %a{:href => "/users"} Users
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to "Timeclock User ID: #{current_user.id}", edit_user_path(current_user.id)
              %li= link_to "Logout", log_out_path
            - else
              %li= link_to "Sign up", new_user_path
              %li= link_to "Login", log_in_path
        / /.navbar-collapse
      / /.container-fluid
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert
    = yield
